<div id='overview'>
  <h2>Company Overview</h2>
  SIP Telecom Solutions Ltd ., a telecom centric young enterprise headquartered in Chennai(Madras), The city is India's first largest exporter of software, information technology and information-technology-enabled services.
  <br>
  <br>
  SIP Telecom Solutions Ltd is today geared to provide cost effective telephony solutions. Our Telephony  solutions are feature rich, extremely versatile, flexible, customizable & scalable. <br\>
</div>
<div>
 
  <div id='leftcol'>
 <h2>Our Products & Solutions</h2>
  <ul class='list1'>
    <li>SMS Solutions</li>
       <li>EPABX/Intercom Solutions</li>
       <li>Conference Bridges</li>
       <li>ViceMail Systems</li>
       <li>IVR Solutions</li>
       <li>Fax to email and email to Fax solutions</li>
       <li>WebSite Designing and Hosting</li>
   </ul>
     </div>
     <div id='rightcol'> <h2>Log in </h2>
<div id="login-form">
  <% form_tag do %>
    <table>

      <tbody>
        <tr>
          <td align="right"><label for="username">Login:</label></td>
          <td align="left"><input type="text" tabindex="1" name="user[user_name]" id="username"></td>
        </tr>
        <tr>
          <td align="right"><label for="password">Password:</label></td>
          <td align="left"><input type="password" tabindex="10" name="user[password]" id="password"></td>
        </tr>

        <tr>
          <td></td>
          <td align="left">

          </td>
        </tr>
        <tr>
          <td align="left">

          </td>
          <td align="right">
            <input type="submit" tabindex="-2" value="Login" name="login">
          </td>
        </tr>
    </tbody>
  </table>
<% end %>
</div>

</div>
<div style="clear: both;"></div>
</div>
<script type="text/javascript">
  Form.Element.focus('username');
</script>
