<center><h4>Thank You using SMSServerGui-2.0</h4></center>
<h2>About SMSlib</h2>
  SMSLib is a Java library which allows you to send/receive SMS messages via a compatible GSM modem or 
  GSM phone . To know more about java smslib please visit www.smslib.org . 

<h2>About Ruby on Rails</h2>
  Ruby on Rails is a open source web developing kit , it  Works well on both Linux and windows OS . 

<h2>About SMSlib SMSServer</h2>

  SMSServer is a small application that you can use for sending and receiving SMS messages without writing your own code.

  The new SMSServer is fully configurable and can be easily extended. It is based on two new concepts:

        * SMSServer uses one or more Gateways to send and receive messages.
        * SMSServer uses one or more Interfaces for some sort of persistent storage, to which it saves received messages 
          or send messages from.

<h2>About SMSServerGui-2.0 :</h2>

  It is a Ruby on Rails based web front for SMSServer . It acts as interface between users and SMSserver . Users 
  can load , unload sms . Also they can monitor SMSServer from this .

<h2>OS Compatibility:</h2>

  Normally all the java and Ruby on Rails prorams work well on both windows and linux operating system . This frontend has 
  been throughly tested on both windows and linux .

  For windows I choosed XP ;  For linux I choosed Ubuntu and Debian distributions 
